<template name="activity">
    <div class="row">
        <div class="col s12">
          <div class="card">
            <!-- <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div> -->
            <div class="card-content">
              <p>{{firstName}} is going to {{place}} and can get {{items}} item(s).</p>
              <p>Charge : {{charge}}</p>
              <p>Dropoff : {{isDropoff}}</p>
            </div>
            <div class="card-action">
              <a href="{{pathFor 'ask'}}">Add a Request</a>
            </div>
          </div>
        </div>
      </div>
</template>
