<template name="ask">
  <div class="page whats-cooking">
    {{#if currentUser}}
    <nav class="js-title-nav">
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
      </div>
      <h1 class="js-edit-list title-page"><span class="title-wrapper">{{castername}} is going to {{place}}</span></h1>
      </nav>

      <div class="content-scrollable list-items">
        <div style="margin-top:100px;">
        {{#if approved this}}
        {{#if received this}}
          <h3>Thanks for Shopcasting!!!</h3>
        {{else}}
          <h3>You already sent your request.</h3>
        {{/if}}
        {{else}}
        <h2>Add Items</h2>
        <div class="row" style="margin-top:20px;">
            <form class="col s12 js-todo-new">
              <div class="row">
                <div class="input-field col s4">
                  <input placeholder="Add item" id="itemname" type="text">
                  <label class="active" for="itemname">Item</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Add quantity" id="itemquantity" type="text">
                  <label class="active" for="itemquantity">Quantity</label>
                </div>
                <div class="input-field col s4 class-itemprice">
                  <input placeholder="Add price" id="itemprice" type="text">
                  <label class="active" for="itemprice">Price</label>
                </div>
                <div>
                  <input type="submit" style="visibility: hidden;">
                </div>
              </div>
            </form>
          </div>

        {{/if}}
       </div>
       {{#if todosReady}}
       {{#with _id}} {{! Establish new data context with only the '_id'
       field. This way, when the 'incompleteCount' field
       changes, we don't re-render the list contents }}
      <table class="striped centered responsive-table">
        <thead>
          <tr>
              <th data-field="id">Item</th>
              <th data-field="name">Quantity</th>
              <th data-field="price">Price</th>
          </tr>
        </thead>

        <tbody>
          {{#each todos this}}
          {{> todosItem}}
          {{/each}}
        </tbody>
      </table>
      {{/with}}

      <div style="margin-top:20px; text-align:center;">
      {{#if approved this}}

      {{#if received this}}


    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Rate Your Experience</a>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Rate your experience</h4>
        <p>Add ratings here.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
      {{else}}
      <button type="submit" class="btn disabled">Approved<i class="material-icons right">done</i></button>
      <button type="submit" class="btn waves-effect waves-light con-recieve">Confirm Receipt<i class="material-icons right">done_all</i></button>
      {{/if}}
      {{else}}
      <button type="submit" class="btn waves-effect waves-light btn-large send-request">Send Request<i class="material-icons right">send</i></button>
      {{/if}}
    </div>
      {{else}}
      <div class="wrapper-message">
        <div class="title-message">Loading tasks...</div>
      </div>
      {{/if}}
    </div>
    {{/if}}
  </div>
</template>
