<template name="casterFeed">
  <div class="page whats-cooking">
      <nav class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>
          <h1 class="js-edit-list title-page">
              <span class="title-wrapper" >Your Broadcasts</span></h1>
          </nav>
    <div>
    <div class="content-scrollable" style="margin-top : 60px;">
      <div class="list-activities {{#unless ready}}loading{{/unless}}">
          {{#each broadcasts}}
              {{> activitycast}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message"> You haven't sent any broadcasts yet.</div>
              <div class="subtitle-message">Start your first broadcast!</div>
            </div>
          {{/each}}
      </div>
        </div>
    </div>
  </div>
</template>
