<template name="castsShow">
<div class="page lists-show">
    {{#if currentUser}}
    <nav class="js-title-nav">
      {{#if editing}}
        <form class="js-edit-form list-edit-form">
          <input type="text" name="name" value="{{name}}">
          <div class="nav-group right">
            <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
          </div>
        </form>
      {{else}}
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>
        <!-- <h1>Hello world</h1> -->
        <h1 class="js-edit-list title-page">
        <span class="title-wrapper" >{{castername}}</span>
        <!--<span class="count-list">is going to</span>-->
        <span class="title-wrapper"> is going to {{place}}</span></h1>

      {{/if}}
<!--
      <form class="js-todo-new todo-new input-symbol">
        <input type="text" placeholder="Type to add new tasks">
        <span class="icon-add js-todo-add"></span>
      </form> -->
    </nav>
    <div class="content-scrollable list-items" style="text-align: center;">
      <div class="list-item">
        &nbsp;
        Willing to get: {{items}} items
      </div>
      <div class="list-item">
        &nbsp; at {{time}} hours
      </div>
      <div class="list-item">
        &nbsp; will charge ${{charge}} for the service
      </div>
      <div class="list-item">
        &nbsp; Dropoff: {{isDropoff}}
      </div>
      <button type="submit" class="btn-primary">Request</button>
    </div>
    {{/if}}
  </div>
</template>
