<template name="request">
    <div class="row">
        <div class="col s12">
          <div class="card">
            <!-- <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div> -->
            <div class="card-content">
              <p>{{username}} wants {{createdAt}} and needs {{approved}} item(s).</p>
            </div>
            <div class="card-action">
              {{#if approved}}
              <a class="js-approve">Upload Bill</a>
              <a class="js-reject">Done</a>
              {{else}}
              <a class="js-approve">Approve</a>
              <a class="js-reject">Reject</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
</template>
