<template name="request">
    <div class="row">
        <div class="col s12">
          <div class="card">
            <!-- <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div> -->
            <div class="card-content">
              <p>{{username}} wants {{itemCount}} items.</p>
              <ul class="collection">
              {{#each itemFind}}
              <li class="collection-item avatar">
                <i class="material-icons circle">restaurant</i>
                <span class="title">{{itemname}}</span>
                <p>Quantity : {{itemquantity}}<br>
                   Approx Total Price : {{itemprice}}
                </p>
                <!-- <a href="#!" class="secondary-content"><i class="material-icons">check_box_outline_blank</i></a> -->
              </li>
            {{/each}}
            </ul>
            </div>
            <div class="card-action">
              {{#if approved}}
              <a>Upload Bill</a>
              <a class="js-complete">Done</a>
              {{else}}
              <a class="js-approve">Approve</a>
              <a class="js-reject">Reject</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
</template>
