<template name="activity">
    <div style="margin-top: 20%">

  <a href="{{pathFor 'ask'}}" class="item-activity">

    <span class="lists-show">
      <!--<span class="avatar">-->
         <!--<img src="{{userAvatar}}" class="image-avatar">-->
      <!--</span>-->
      <span class="meta">
        <span class="author icon-user-add">{{firstName}}</span> is going to
            <span class="recipe ">{{place}} and can get {{items}} item(s)</span>
            <br>
              <span>Dropoff : {{isDropoff}}</span>
              <br>
            <span>  Charge : {{charge}}</span>
           <!--<span class="location">&mdash;</span>-->
       </span>


    <!--<div class="bg-image" style="background-image: url('{{image}}');">-->
      <!--<span>-->
        <!--Dropoff : {{isDropoff}}</span><br>-->
      <!--<span>  Charge : {{charge}}</span>-->

    <!--</div>-->
        <!--</span>-->
        </span>

  </a>
    </div>
</template>
