<template name="cast">
    <div class="page auth">
        <nav>
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
            </div>
        </nav>

        <div class="content-scrollable">
            <div class="wrapper-auth">
                <h1 class="title-auth">Broadcast details</h1>

                <form>
                    <!-- {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}} -->

                    <div class="input-symbol" style="border-bottom: 20px">
                        <input type="text" name="place" placeholder="Place"  />
                        <!--<span class="icon-user-add" title="Your Email"></span>-->

                    </div>

                    <div class="input-symbol" style="border-bottom: 20px; margin-top: 2%; height: 150% ">

                        <input type="number" name="items" placeholder="Items" min="1" max="20"/>
                        <!-- <span class="icon-lock" title="Password"></span> -->
                    </div>

                    <div class="input-symbol " style="margin-top: 2%">
                        <input type="time" name="time" placeholder="Time" />
                        <!-- <span class="icon-lock" title="Confirm Password"></span> -->
                    </div>

                    <div class="input-symbol " style="border-bottom: 20px; margin-top: 2%">
                        <input type="text" name="charge" placeholder="Charge" />
                        <!-- <span class="icon-lock" title="Confirm Password"></span> -->
                    </div>


                    <div class="input-symbol " style="margin-top: 10%">
                        <!--<div class="checkbox">-->
                        <label > Willing to Drop-Off </label>
                        <input type="checkbox" name="dropoff" />

                        <!--<span class="checkbox-inline" title="DropOff"></span>-->
                        </div>
                        <!-- <span class="icon-lock" title="Confirm Password"></span> -->

                    <button style="margin-top: 10%" type="submit" class="btn-primary">BroadCast</button>
                </form>
            </div>
        </div>
    </div>
</template>
